@font-face {
  font-family: Nueland-Medium;
  src: url(../assets/fonts/Neuland\ Grotesk\ Medium\ Expanded.ttf)
}

@font-face {
  font-family: Nueland-Grotesk;
  src: url(../assets/fonts/NeulandGrotesk-CondensedRegular.ttf);
}